@model SZZP2._2.Models.Office

@{
    ViewData["Title"] = "Edit";
}

<h2>Edycja biura:</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IDOffice" />
            <div class="form-group">
                <label asp-for="NameOffice" class="control-label"></label>
                <input asp-for="NameOffice" class="form-control" />
                <span asp-validation-for="NameOffice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SymbolOffice" class="control-label"></label>
                <input asp-for="SymbolOffice" class="form-control" />
                <span asp-validation-for="SymbolOffice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Powrót do listy biur</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
